/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Header */
header {
    background-color: green;
    color: white;
    padding: 1em;
    text-align: center;
}

/* Boutons de catégories */
#categories-container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.category-button {
    background-color: #0080ff;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 5px;
    cursor: pointer;
}

.category-button:hover {
    background-color: #0056b3;
}

/* Conteneur de discussion */
#chat-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#messages {
    list-style-type: none;
    padding: 140px;;
    margin: 0 0 1em 0;
}

#messages li {
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

#message-input {
    width: calc(100% - 110px);
    padding: 0.5em;
    margin-right: 10px;
}

#send-button {
    background-color: #004080;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
}

#send-button:hover {
    background-color: #002e5c;
}
.selected-category {
    background-color: green;
    color: white;
}
.back-button {
    background: rgb(109, 106, 106);
    color: #ff758c;
    padding: 3px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .back-button:hover {
    background: #ff758c;
    color: white;
  }
footer {
    text-align: center;
    padding: 1em;
    background: green;
    color: white;
}